.chat {
    background-color: var(--primary);
}
#conversation tr {
    line-height: 1;
    display: block;
    margin-bottom: 4px;
}
.channels {
    /* Add any styles you want for the 'channels' class */
    flex-grow: 0;
    width: 26.25rem;
    border-right: 1px solid var(--accents-2);
    background: var(--secondary);
}

.channels .header {
    /* Add styles for the 'header' class inside the 'channels' class */
    margin-bottom: 1rem;
}

.channels .channel-buttons {
    /* Add styles for the 'channel-buttons' class inside the 'channels' class */
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

.channels .btn {
    /* Add styles for the 'btn' class inside the 'channels' class */
    width: 48%;
}

.channels .channel-list {
    /* Add styles for the 'channel-list' class inside the 'channels' class */
    list-style: none;
    padding: 0;
    margin: 0;
}

.channels .channel-list .channel-button {
    /* Add styles for the 'channel-button' class inside the 'channel-list' class */
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--accents-2);
    color: var(--text);
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.channels .channel-list .channel-button:hover {
    background-color: var(--accents-1);
}
.channels .channel-list .channel-button.selected {
    background-color: var(--accents-1);
}

.message{
    padding: 0.5rem 1rem;
    width: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
}

.chat-body{
    flex: 2;
    -ms-overflow-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

.chat-body tr td {
    padding: 10px;
    margin: 0;
    background-color: var(--secondary);
    width: auto;
}

.chat-body tr td{
    border-radius: 5px;
}

.chat-input{
    padding: 1rem;
}

.message-input{
    color: var(--text);
    background: var(--accents-3);
    border: var(--accents-3);
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
}

.message-input:focus{
    color: var(--text);
    background: var(--accents-3);
}

.message-btn {
    color: var(--text);
    background: var(--accents-1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.message-btn:hover {
    color: var(--text);
    background: var(--accents-0);
}