.contacts{
    background-color: var(--secondary);
}

.user-table{
    color: var(--text);
    border: 1px solid var(--accents-2);
    background: var(--secondary);
    text-align: center;
    width: 100%;
    border-collapse: collapse;

}
.user-table th{
    background: var(--accents-2);
    padding: 5px 0;
}

.user-table td{
    padding: 5px 0;
}