body{
    font-family: sans-serif;
    color: white;
    background-color: #2d2d2d;
}

.card {
    padding: 30px 30px;
    margin: auto;
    background-color: #323333;
    border-top: 5px solid #2fa4e7;
    box-shadow: 0 0 20px 20px rgb(0 0 0 / 20%);
}

.header {
    font-weight: 400;
    font-size: 35px;
}

.icon{
    color: white;
    background-color: #2fa4e7;
    border-radius: .5rem;
    font-size: 30px;
    padding: 5px;
}

.title {
    font-size: 24px;
    color: #2fa4e7;
}

.label-text {
    display: block;
    position: absolute;
    padding: 0 5px;
    width: auto;
    color: white;
    background: #323333;
    transition: all 150ms ease;
    transform: translate(12px, calc(0em - 0.5rem - 2px));
    cursor: text;
    font-size: 16px;
}
.code-label {
    transform: translate(12px, calc(-1.5em - 0.5rem - 2px));
}

.box{
    background: #323333;
    border: 1px solid #495057;
    color: white;
    font-size: 16px;
}

.box:focus {
    background: #323333;
    color: white;
    outline: none;
    padding: 15px;
    border: 1px solid #2fa4e7;
}

.box:not(:placeholder-shown) + .label-text, input:focus + label {
    transform: translate(8px, calc(-1.5em - 1.8rem - 2px));
}

.box:focus + .label-text {
    color: #2fa4e7;
}

.links {
    color: #2fa4e7;
    cursor: pointer;
    margin-left: auto;
}

.login-bar {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    color: white;
    background: #2fa4e7;
}

.btn:hover {
    color: white;
    background: #1787c7;
}

.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }

.checkmark {
    position: absolute;
    top: 0;
    left: 0; }

.checkmark:after {
    content: "\f0c8";
    font-family: "FontAwesome", serif;
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-top: -4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

@media (prefers-reduced-motion: reduce) {
    .checkmark:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; }
}

.checkbox-wrap input:checked ~ .checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome", serif;
    color: rgba(0, 0, 0, 0.2); }

.checkbox-primary {
    color: white;
}

.checkbox-primary input:checked ~ .checkmark:after {
    color: #2fa4e7; }

.alert i[class^="bi-"]{
    font-size: 1.5em;
    line-height: 1;
}