*{
    box-sizing: border-box;
}

h3{
    color: var(--accents-1);
}

.header{
    padding: .75rem;
    text-align: center;
    border-bottom: 1px solid var(--accents-2);
}

.nav{
    background-color: var(--tertary);
    position: relative;
    align-items: center;
    justify-content: space-between;
    min-height: 3.75rem;
    scrollbar-width: none;
    padding: .75rem 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    order: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 4.375rem;
    border-top: 0;
    text-align: center;
}

.brand, .item, .sign_out{
    font-size:25px;
}

.brand{
    color: var(--primary);
    background-color: var(--accents-1);
    border-radius: .25rem;
    padding: .375rem;
}

.brand:hover{
    color: var(--text);
    transition: 0.2s;
}

.item{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--primary);
}

.item:hover{
    color: var(--text);
    transition: 0.2s;
}

.sign_out{
    color: var(--primary);
}

.sign_out:hover{
    color: red;
    transition: 0.2s;
}

.main{
    height: 100vh;
    width:100%;
    display:flex;
    flex-flow:column;
}

.input-settings{
    color: var(--text);
    background: var(--accents-3);
    border: 1px solid var(--accents-2);
    box-shadow: none !important;
}

.input-settings:focus{
    color: var(--text);
    background: var(--accents-3);
    border: 1px solid var(--accents-2);
}