*{
    box-sizing: border-box;
}

h3{
    color: #2fa4e7;
}

.header{
    padding: .75rem;
    text-align: center;
    border-bottom: 1px solid #495057;
}

.nav{
    background-color: #1e1f22;
    position: relative;
    align-items: center;
    justify-content: space-between;
    min-height: 3.75rem;
    scrollbar-width: none;
    padding: .75rem 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    order: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 4.375rem;
    border-top: 0;
    text-align: center;
}

.brand, .item, .sign_out{
    font-size:25px;
}

.brand{
    color: #313338;
    background-color: #2fa4e7;
    border-radius: .25rem;
    padding: .375rem;
}

.brand:hover{
    color: white;
    transition: 0.2s;
}

.item{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #313338;
}

.item:hover{
    color: white;
    transition: 0.2s;
}

.sign_out{
    color: #313338;
}

.sign_out:hover{
    color: red;
    transition: 0.2s;
}

.main{
    height: 100vh;
    width:100%;
    display:flex;
    flex-flow:column;
}
