*{
    box-sizing: border-box;
}

h3{
    color: #2fa4e7;
}

.header{
    padding: .75rem;
    text-align: center;
    border-bottom: 1px solid #495057;
}

.nav{
    background-color: #1e1f22;
    position: relative;
    align-items: center;
    justify-content: space-between;
    min-height: 3.75rem;
    scrollbar-width: none;
    padding: .75rem 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    order: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 4.375rem;
    border-top: 0;
    text-align: center;
}

.brand, .item, .sign_out{
    font-size:25px;
}

.brand{
    color: #313338;
    background-color: #2fa4e7;
    border-radius: .25rem;
    padding: .375rem;
}

.brand:hover{
    color: white;
    transition: 0.2s;
}

.item{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #313338;
}

.item:hover{
    color: white;
    transition: 0.2s;
}

.sign_out{
    color: #313338;
}

.sign_out:hover{
    color: red;
    transition: 0.2s;
}

.main{
    height: 100vh;
    width:100%;
    display:flex;
    flex-flow:column;
}
#conversation tr {
    line-height: 1;
    display: block;
    margin-bottom: 4px;
}
.channels {
    /* Add any styles you want for the 'channels' class */
    padding: 1rem;
}

.channels .header {
    /* Add styles for the 'header' class inside the 'channels' class */
    margin-bottom: 1rem;
}

.channels .channel-buttons {
    /* Add styles for the 'channel-buttons' class inside the 'channels' class */
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.channels .btn {
    /* Add styles for the 'btn' class inside the 'channels' class */
    width: 48%;
}

.channels .channel-list {
    /* Add styles for the 'channel-list' class inside the 'channels' class */
    list-style: none;
    padding: 0;
    margin: 0;
}

.channels .channel-list .channel-button {
    /* Add styles for the 'channel-button' class inside the 'channel-list' class */
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #495057;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.channels .channel-list .channel-button:hover {
    background-color: #1787c7;
}
.channels .channel-list .channel-button.selected {
    background-color: #1787c7;
}