.settings{
    background-color: var(--secondary);
}

.nav-setting{
    background-color: var(--primary);
    display: flex;
    list-style: none;
    color: var(--accents-2);
    text-decoration: none;
}

.nav-setting a{
    margin: 1rem 1.5rem;
    font-weight: 700;
    border-bottom: .25rem solid transparent;
}

.nav-setting a:hover {
    text-decoration: none;
    border-bottom-color: var(--accents-2);
}

.highlight{
    color: var(--text) !important;
}

.highlight:hover {
    border-bottom-color: var(--text) !important;
}

.container{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

.section-body{
    padding: 1.5em;
    background-color: var(--primary);
    color: var(--text);
    border-radius: .25rem;
}

.ml-2, .mx-2 {
    margin-left: .75rem !important;
}
.custom-switch {
    padding-left: 2.25rem;

}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}