<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/deleteAccount}" method="post">
            <button type="submit">Delete Account</button>
        </form>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome
            </p>
            <input type="submit" value="Sign Out" />
        </form>

        <form th:action="@{/updatePassword}" method="post">
            <div>
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword">
            </div>
            <div>
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword">
            </div>
            <div>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
            </div>
            <button type="submit">Update Password</button>
        </form>

        <div th:if="${error}" class="error-message" th:text="${error}"></div>
        <div th:if="${success}" class="success-message" th:text="${success}"></div>




    </div>
    <div>
        <h1>List of Users</h1>
    </div>

    <div>
        <form th:action="@{/users.html}" method="post">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td th:text="${user.getId()}">User ID</td>
                <td th:text="${user.getEmail()}">E-mail</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>